
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}


canvas {
    border: 2px solid;
    border-color: black;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: 300ms;
}